.header {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    height: 75px;
  }
  &__nav {
  }
  &__nav-line {
    background-color: black;
    height: 3px;
    width: 30px;
    &:last-of-type {
      margin-top: 10px;
    }
  }
}
