.footer {
  &__top {
    padding: 65px 387.15px;
    border-top: 0.5px solid black;
  }

  &__bottom {
    background: url("../../assets/images/footer.png") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 60vw;
  }
}
