@use "../../styles/global" as *;

.stats {
  display: flex;
  flex-direction: column;
  margin: 1rem;

  @include desktop {
    margin: 0rem 7rem;
  }

  &-title {
    text-align: center;
  }

  &-text {
    text-align: center;
  }

  &-search {
    background: url("../../assets/icons/search.svg") 0.75rem no-repeat;
    padding: 0rem 3rem;
    border: 1px solid silver;
    border-radius: 1rem;
    height: 2rem;
    margin: 1.5rem 0rem;
    margin-top: 1rem;

    @include desktop {
      width: 25vw;
      height: 3rem;
      border-radius: 1.5rem;
    }
  }

  &-container {
    overflow: hidden;
    border: 1px solid silver;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  &-image {
    margin: 1rem;
    margin-bottom: 0rem;
  }
}

.fluctuation {
  display: flex;
  flex-direction: column;
  background-color: #ddedd7;
  border-radius: 0.25rem;
  padding: 1rem;

  &-title {
    font-size: 1rem;
    margin-bottom: 0;

    @include desktop {
      text-align: center;
    }
  }

  &-text {
    font-size: 0.75rem;

    @include desktop {
      text-align: center;
      font-size: 1rem;
      margin: 1rem 2rem;
    }
  }
}
